/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-top: 20px; /* Adjust if header height changes */
  padding-bottom: 20px;
}